<div class="d-flex justify-content-center mt-5">
    <div class="card shadow-lg rounded w-25">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form novalidate [formGroup]="signInForm">
                <div class="row" *ngIf="errorMsg">
                    <div class="col-12">
                        <div class="alert alert-danger" role="alert">
                            {{errorMsg}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field floatLabel="always" class="w-100" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input formControlName="email" matInput placeholder="example@gmail.com">
                            <mat-hint
                                *ngIf="signInForm.get('email').hasError('required') && signInForm.get('email').touched"
                                class=" text-danger">
                                Correo es requerido
                            </mat-hint>
                            <mat-hint
                                *ngIf="signInForm.get('email').hasError('email') && signInForm.get('email').touched"
                                class=" text-danger">
                                Please enter a valid email address
                            </mat-hint>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-form-field floatLabel="always" class="w-100" appearance="outline">
                            <mat-label>Contrase</mat-label>
                            <input formControlName="password" type="password" matInput placeholder="Password">
                            <mat-hint
                                *ngIf="signInForm.get('password').hasError('required') && signInForm.get('password').touched"
                                class="text-danger">
                                Password is required
                            </mat-hint>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <button type="button" (click)="login()" class="w-100" color="primary"
                            mat-raised-button>Login</button>
                    </div>

                </div>
            </form>
        </div>
    </div>